---
import ProductVariant from "../../components/ProductVariant";
import type { Product } from "../../entities";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;

let items = await Astro.glob<Product>(`../products/*.md`);

const [item] = items.filter((i) => i.frontmatter.id == id);
const product = item.frontmatter;

---

<Layout title="Arietta Shop">
  <main>
    <div class="text-sm breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href={`/products/${product.productType as string}`}>Products</a></li>
        <li>{product && product.name}</li>
      </ul>
    </div>

    {
      product && (
        <div class="hero min-h-screen bg-base-200">
          <div class="hero-content flex-col">
            <h2 class="text-5xl font-bold">
              {product.company as string} - {product.name}
            </h2>
            <div class="flex w-full">
              <img
                src={`/images/${product.images[0]}`}
                class="max-w-sm rounded-lg shadow-2xl"
              />
              <div class="pl-4 pb-4">
                <ProductVariant product={product as Product} client:load />
              </div>
            </div>
            <div>
              <p class="py-6"><item.Content /></p>
            </div>
          </div>
        </div>
      )
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.1rem;
    max-width: 120ch;
  }
</style>
